@using LibraryManagementApp.Model

@model List<City>

<table style="margin-top: 20px;" class="table table-condensed">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Country</th>
			<th>Action 1</th>
			<th>Action 2</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a></td>
				<td>@item.Country</td>
				<td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a></td>
				<td>
					<form asp-action="Delete" asp-route-id="@item.Id" method="post">
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
