@using LibraryManagementApp.Model

@model List<Book>

<table style="margin-top: 20px;" class="table table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Genre</th>
            <th>Action 1</th>
            <th>Action 2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr id="bookRow_@book.Id">
                <td>@book.Id</td>
                <td><a asp-action="Details" asp-route-id="@book.Id">@book.Title</a></td>
                <td>@book.Description</td>
                <td>@book.BookGenre?.Name</td>
                <td><a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary">Edit</a></td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="deleteBook(@book.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function deleteBook(id) {
        $.ajax({
            url: '@Url.Action("Delete", "Book")',
            type: 'POST',
            data: { id: id },
            success: function (response) {
                if (response.success) {
                    $('#bookRow_' + id).remove();
                } else {
                    alert("Failed to delete book.");
                }
            },
            error: function () {
                alert("Error occurred while trying to delete book.");
            }
        });
    }
</script>
