@model LibraryManagementApp.Model.Book

@{
    ViewData["Title"] = "Book details";
}

<h1>@ViewData["Title"]</h1>

@if (Model != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">List of books</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
        </ol>
    </nav>

    <div>
        <h4>Book</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Id
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                Title
            </dt>
            <dd id="title">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                Description
            </dt>
            <dd id="description">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                Publish Date
            </dt>
            <dd id="publishDate">
                @Html.DisplayFor(model => model.PublishDate)
            </dd>
            <dt>
                Genre
            </dt>
            <dd id="bookGenre">
                @Model?.BookGenre?.Name
            </dd>
            <dt>
                Authors
            </dt>
            <dd id="authors">
                <ul>
                    @if (Model.AuthorBooks != null)
                    {
                        @foreach (var authorBook in Model.AuthorBooks)
                        {
                            <li>
                                <a asp-action="Details" asp-controller="Author" asp-route-id="@authorBook.Author.Id">
                                    @authorBook.Author.FullName
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>No authors found</li>
                    }
                </ul>
            </dd>

            <!-- Additional fields can be added here if needed -->
        </dl>
        <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            @* <button type="submit" class="btn btn-danger">Delete</button> *@
        </form>
    </div>
}
else
{
    <div class="alert alert-danger">
        Book with that Id does not exist.
    </div>
}
